@font-face {
    font-family: 'BT Beau Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./bt-beau-sans/BT-BeauSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'BT Beau Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./bt-beau-sans/BT-BeauSans-Medium.ttf") format("opentype");
}

/* @font-face {
    font-family: 'BT Beau Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./bt-beau-sans/BT-BeauSans-LightItalic.ttf") format("opentype");
} */

@font-face {
    font-family: 'BT Beau Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./bt-beau-sans/BT-BeauSans-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'BT Beau Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./bt-beau-sans/BT-BeauSans-BoldItalic.ttf") format("opentype");
}